body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;



}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}
.top-container {
  background-color:  #EAF6F6;
  margin: 0;
  position: relative;
  padding: 100px;
}
.middle-container {
  text-align: center;
   color: #40514E;


}
.hello {
  margin: auto 30% auto 30%;
  line-height: 2;
}
.bottom-container {
  background-color: #66BFBF;
  line-height: 3;
  margin: 0;

}

.top-cloud {
  position: relative;
  left: 200px;
}
.bottom-cloud{
  position: absolute;
}
.footer-link {
  color: #11999E;
}
.btn {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
  background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 200px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  margin-bottom: 150px;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.volleyball {
  width: 20%;
  object-position: bottom center;
  float: left;
  padding-bottom: 50px;
  margin-right: 20px;

}

.problem-solve {
  width: 20%;
  float: right;
  margin-left: 20px;

}

.copyright {
  color:  #EAF6F6;
  margin:  0;
}

.brooke {
  border-radius: 20%;
  width: 8%;
  margin-top: 50px;
}

.contact-text {
  margin-bottom: 50px;
}
